# Worksheet 00

Name:  MANUSHI MUNSHI

UID: U25855816


### Topics

- course overview
- python review

### Course Overview

a) Why are you taking this course?

Throughout my undergraduate degree, I developed an interest in the data science domain and related fields. I wanted to explore the domain in depth and develop strong foundations of the  different data science tools and its applications.

b) What are your academic and professional goals for this semester?

My academic goals this semester include adjusting to education at BU and getting a good grade in all my classes. My professional goals are to develop a strong grip on the fundamentals of algorithms, data science and related domains and work towards securing a good summer internship for next year.

c) Do you have previous Data Science experience? If so, please expand.

Yes, I have 2 research publications in the machine learning and deep learning aspects of Data Science. The details of the publications are as follows -

1.   Research paper titled 'Artificial Intelligence and Exploratory-Data-Analysis-Based Initial Public Offering Gain Prediction for Public Investors' (Published in Sustaibility, MDPI) which deals with studying IPO market trends and predicting IPO gains in the Indian financial market.
2.   Research paper titled 'CNN-FEBAC: A framework for attention measurement of autistic individuals' (Published in Biomedical Signal Processing and Control, Elsevier) which focuses on analysing the changes in EEG signals of autistic patients when they respond to a stimulus and identify target objects flashed before them using deep learning techniques.

d) Data Science is a combination of programming, math (linear algebra and calculus), and statistics. Which of these three do you struggle with the most (you may pick more than one)?

Programming

The rest of this worksheet is optional. If you have prior Python experience, you are welcome to skip it HOWEVER I strongly encourage you to try out the questions marked as `challenging`.

### Python review (Optional)

#### Lambda functions

Python supports the creation of anonymous functions (i.e. functions that are not bound to a name) at runtime, using a construct called `lambda`. Instead of writing a named function as such:

In [ ]:
def f(x):
    return x**2
f(8)

64

One can write an anonymous function as such:

In [ ]:
(lambda x: x**2)(8)

64

A `lambda` function can take multiple arguments:

In [ ]:
(lambda x, y : x + y)(2, 3)

5

The arguments can be `lambda` functions themselves:

In [ ]:
(lambda x : x(3))(lambda y: 2 + y)

5

a) write a `lambda` function that takes three arguments `x, y, z` and returns `True` only if `x < y < z`.

In [1]:
(lambda x,y,z: True if x<y<z else False) (1,2,3)

True

b) write a `lambda` function that takes a parameter `n` and returns a lambda function that will multiply any input it receives by `n`.

In [11]:
(lambda n: (lambda x: x*n) (3)) (4)

12

#### Map

`map(func, s)`

`func` is a function and `s` is a sequence (e.g., a list).

`map()` returns an object that will apply function `func` to each of the elements of `s`.

For example if you want to multiply every element in a list by 2 you can write the following:

In [ ]:
mylist = [1, 2, 3, 4, 5]
mylist_mul_by_2 = map(lambda x : 2 * x, mylist)
print(list(mylist_mul_by_2))

[2, 4, 6, 8, 10]

`map` can also be applied to more than one list as long as they are the same size:

In [ ]:
a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]

a_plus_b = map(lambda x, y: x + y, a, b)
list(a_plus_b)

[6, 6, 6, 6, 6]

c) write a map that checks if elements are greater than zero

In [17]:
c = [-2, -1, 0, 1, 2]
gt_zero = map(lambda x: True if x>0 else False, c)
list(gt_zero)

#let the map return True if element is greater than 0 else return False

[False, False, False, True, True]

d) write a map that checks if elements are multiples of 3

In [18]:
d = [1, 3, 6, 11, 2]
mul_of3 = map(lambda x: True if x%3==0 else False, d)
list(mul_of3)
#let the map return True if element multiple of 3 else return False

[False, True, True, False, False]

#### Filter

`filter(function, list)` returns a new list containing all the elements of `list` for which `function()` evaluates to `True.`

e) write a filter that will only return even numbers in the list

In [19]:
e = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = filter(lambda x: x%2==0,e)
list(evens)

[2, 4, 6, 8, 10]

#### Reduce

`reduce(function, sequence[, initial])` returns the result of sequencially applying the function to the sequence (starting at an initial state). You can think of reduce as consuming the sequence via the function.

For example, let's say we want to add all elements in a list. We could write the following:

In [24]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
sum_nums = reduce(lambda acc, x : acc + x, nums, 0)
print(sum_nums)

15

Let's walk through the steps of `reduce` above:

1) the value of `acc` is set to 0 (our initial value)
2) Apply the lambda function on `acc` and the first element of the list: `acc` = `acc` + 1 = 1
3) `acc` = `acc` + 2 = 3
4) `acc` = `acc` + 3 = 6
5) `acc` = `acc` + 4 = 10
6) `acc` = `acc` + 5 = 15
7) return `acc`

`acc` is short for `accumulator`.

f) `*challenging` Using `reduce` write a function that returns the factorial of a number. (recall: N! (N factorial) = N * (N - 1) * (N - 2) * ... * 2 * 1)

In [29]:
factorial = lambda x: reduce(lambda res,x: res*x, range(1,x+1),1)
factorial(5)

120

g) `*challenging` Using `reduce` and `filter`, write a function that returns all the primes below a certain number

In [41]:
sieve = lambda n: [x for x in range(2, n) if all(x % d != 0 for d in range(2, int(x**0.5) + 1))]
print(sieve(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### What is going on?

This whole section is `*challenging`

For each of the following code snippets, explain why the output is what it is:

In [30]:
class Bank:
  def __init__(self, balance):
    self.balance = balance
  def is_overdrawn(self):
    return self.balance < 0
myBank = Bank(100)
if myBank.is_overdrawn : #line 7
  print("OVERDRAWN")
else:
  print("ALL GOOD")

OVERDRAWN

In line 7, we want to call the function is_overdrawn to check if the balance is negative or not, but the function call here is done without a parentheses (). So effectively the current meaning of line 7 without a () is to check the existence of the method is_overdrawn, which will always be True, so the output is OVERDRAWN as the if condition will always evaluate to True.

In [31]:
for i in range(4):
    print(i)
    i = 10

0
1
2
3

The for loop increases the value of i by 1 depending on the condition, here the condition is range(4). The reassigment of i=10 has no effect as the value of i is assigned according to the condition of the loop and increased by 1 in each iteration.

In [ ]:
row = [""] * 3 # row i['', '', '']
board = [row] * 3
print(board) # [['', '', ''], ['', '', ''], ['', '', '']]
board[0][0] = "X"
print(board)

[['', '', ''], ['', '', ''], ['', '', '']]
[['X', '', ''], ['X', '', ''], ['X', '', '']]

We first create a row with 3 empty spaces and then create a board of three rows. Here the variable board is a list having three references to the 'row' list variable. So while assigning X to the [0][0] position, all three rows first value changes as the board references to the three lists of row variable.

In [32]:
funcs = []
results = []
for x in range(3):
    def some_func():
        return x
    funcs.append(some_func)
    results.append(some_func())  # note the function call here

funcs_results = [func() for func in funcs]
print(results) # [0,1,2]
print(funcs_results)

[0, 1, 2]
[2, 2, 2]

When you call the function some_func() inside the loop, it runs for each iteration returning values of x as 0,1,2 within the loop's scope and appends these values to the results list to make it [0,1,2]. However when you call it using the list funcs, the loop execution is over and only the final value of x=2, is sent as argument and the list func_results has [2,2,2]

In [33]:
f = open("./data.txt", "w+")
f.write("1,2,3,4,5")
f.close()

nums = []
with open("./data.txt", "w+") as f:
  lines = f.readlines()
  for line in lines:
    nums += [int(x) for x in line.split(",")]

print(sum(nums))

0

The output is 0 as we are opening the file the second time with w+. It will truncate the file and erase the content. For reading content of file, we should use 'r'.